/** {
    outline: 2px orange dashed;
    /outline: 2px orange dashed;
    font family: Helvetica;
  }

  body {
    background: #777;
    font family: Helvetica;
  }

  main {
    background:#999;
    border bottom: 1px solid #444;
    border right: 1px solid #444;
    border radius: 5px;
    width: 960px;
    margin: 0px auto;
  }

  h1 {
    margin top: 10px;
    font size: 400%;
    padding left: 10px;
    background: #777;
    border bottom: 3px solid orange;
  }

  h2 {
    color: white;
    text shadow: 1px 1px black;
    font size: 150%;
    padding:10px;
    background: #444;
  }

  #instructions {
    margin: 10px 0px;
    line height: 30px;
  }

  #instructions h3 {
    font size: 200%;
    background: #777;
    font weight: bold;
    padding:30px 0px 30px 10px;
  }

  #instructions ul li {
    color: white;
    font size: 100%;
    text align: left;
    padding left: 10px;
    text shadow: 1px 1px black;
  }

  #imgPick {
    height: 485px;
    overflow: hidden;
  }

  #imgPick img {
    border radius: 5px;
    box shadow: 2px 2px #444;
    border: 2px solid orange;
    width: 300px;
    vertical align: middle;
    margin: 0px 5px 0px 10px;
  }

  #imgPick img:hover {
    width: 306px;
    box shadow: 5px 5px #444;
    cursor: pointer;
    border: none;
  }

  #results {
    width: 480px;
    margin: 40px auto;
    border radius: 5px;
    box shadow: 5px 5px #444;
    border: 2px solid orange;
    height: 300px;
    margin bottom: 30px;
  }

  #results h2 {
    text align: center;
      text shadow: 1px 1px black;*/
